<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Delte a Student</title>
    <form action="/students_delete" method="POST">
      <input type="text" name="name" placeholder="Name">
      <input type="text" name="campus" placeholder="Campus">
      <button type="submit">Delete</button>
    </form>
  </head>
  <body>

  </body>
</html>
